<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> 后台管理 - Layui</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/layui/jquery-3.3.1.min.js}"></script>
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/">首页</a></li>
        <!--<li class="layui-nav-item"><a href="">*</a></li>
        <li class="layui-nav-item"><a href="">*</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">*</a>
          <dl class="layui-nav-child">
            <dd><a href="">*</a></dd>
            <dd><a href="">*</a></dd>
            <dd><a href="">*</a></dd>
          </dl>
        </li>-->
      </ul>
    <ul class="layui-nav layui-layout-right">
      <!--<li class="layui-nav-item">
        <a href="javascript:;" th:text="${session.currentUser.username}">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">

        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:opentab('个人信息','userinfo');">基本资料</a></dd>
        </dl>
      </li>-->
      <li class="layui-nav-item"><a href="/logout">退出登录</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a href="javascript:;">管理</a>
           <dl class="layui-nav-child">
            <dd><a href="javascript:opentab('公告','news');">公告</a></dd>
            <dd><a href="javascript:opentab('使用案例','cases');">使用案例</a></dd>
            <dd><a href="javascript:opentab('所有用户','allusers');">所有用户</a></dd>
           </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
        <!-- 内容主体区域 -->
   <div style="padding: 15px;">
    <div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="tabmanager">
        <ul class="layui-tab-title">
              
        </ul>
        <div class="layui-tab-content" style="height: 100%;">
                    
        </div>
    </div>
   </div>
  </div>
  
  <div class="layui-footer">
    © unity
  </div>
</div>

<script>
    var element;
    layui.use('element', function(){
        element=layui.element;
    });
</script>

<script>

    function opentab(text,url,param){
        element.tabAdd('tabmanager', {
            title:text,
            content:"<iframe frameborder=0 scrolling='auto' style='width:100%;height:450px'src='/root/gethtml?pageName="+url+"&param="+param+"'></iframe>",
            id:'url'
        });
        abouttab();
    }
</script>

<script>
    //直接显示刚添加的tab,同时显示tab的标题和内容
  function abouttab(){
      if($('.layui-tab-item').hasClass('layui-show')){
          $('.layui-tab-item').removeClass('layui-show');
      }
      if($("li[lay-id=url]").hasClass("layui-this")){
          $("li[lay-id=url]").removeClass("layui-this");
      }
      $(".layui-tab-item:last").addClass("layui-show");
      $("li[lay-id=url]:last").addClass("layui-this");
  }
</script>
</body>
</html>
