
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0; padding:0;}
p {margin: 0;}
html, body{
    width:100%;
	font-family: 'OpenSans-Regular';
	font-size: 100%;
    margin:0;
}
body{
    background:url(../images/VCG41175413535.jpg) no-repeat;
    background-size: cover;
}
@font-face {
   font-family: 'OpenSans-Regular';
   src: url(../fonts/OpenSans-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Ubuntu-Medium';
   src: url(../fonts/Ubuntu-Medium.ttf) format('truetype');
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.row{
	margin:0;
}	
.breadcrumb{
	margin:2em 0;
	text-align:left;
}
h1.b1, h2.b2, h3.b3 {
  margin-bottom: 25px;
  display: block;
}




/*-- footer --*/
.footer{
	padding:2em 0;
	border-top:3px solid #4dc47d;
}
.ftr-grid {
  padding:0 3em 0 0;
}
.ftr-grid h3,.ftr-grid2 h3,.ftr-grid3 h3{
  font-family: 'Ubuntu-Medium';
  font-size: 1.5em;
  color: #181a1b;
  margin-bottom: 0.7em;
}
.ftr-grid p {
  line-height: 1.5em;
  color: #999;
  font-size: 0.9em;
}
.ftr-grid p:nth-child(3){
	padding-top:1.3em;
}
.ftr-grid2,.ftr-grid3 {
  padding-left: 6em;
}
.ftr-grid2 ul li,.ftr-grid3 ul li{
	display:block;
}
.ftr-grid2 ul li a,.ftr-grid3 ul li a{
	display:block;
	padding:5px 0;
	  color: #999;
  font-size: 0.95em;
}
.ftr-grid2 ul li a span,.ftr-grid3 ul li a span{
  width: 12px;
  height: 10px;
  display: inline-block;
  background: url(../images/awr.png) no-repeat 0px 0px;
  margin-right: 0.4em;
}
.copywrite{
	background:#4dc47d;
	padding:0.7em;
}
.copywrite p {
  color: #fff;
  font-size: 0.9em;
  text-align: left;
}
.copywrite p a{
	color: #fff;
}


/*--xiangqing页面--*/

.about-sec{
	 padding:3em 0;
}
.about-head h2{
  font-family: 'Ubuntu-Medium';
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  color: #4dc47d;
}
.about-head p{
      font-size: 0.95em;
  color: #777;
  line-height: 1.7em;
}
.shiyan-grid{
	 margin:1em 0;
}
.shiyan {
  padding-left: 0;
  height:320px;
}


.our_work h3 {
  font-family: 'Ubuntu-Medium';
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #4dc47d;
  text-align:center;
}
.camp-grid h4 a{
  color: #4dc47d;
  font-family: 'Ubuntu-Medium';
  font-size: 1.2em;
  display:inline-block;
  margin: 0.5em 0;
  text-decoration:none;
}
.camp-grid p {
  font-size: 0.95em;
  color: #777;
  line-height: 1.7em;
}
a.more{
	font-size:0.9em;
	margin-top:0.6em;
	display:inline-block;
	color:#333;
	text-decoration:none;
}

/*-- events --*/
.news{
	padding-bottom:5em;
}
.news h3{
		margin-bottom:1.3em;
    color: white;
}
.event-grid:nth-child(1){
	padding-left:0;
}
.event-grids-left{
	padding-left:0;
}
.event-pic {
	float:left;
	width:47%;
	margin-right:3%;
}
.event-pic img{
	width:100%;
}
.date{
	display:inline-block;
	margin-right:7%;
	text-align:center;
	float:left;
	width:20%;
}
.date h4{
	font-size:2.8em;
	font-weight:600;
    color: #9fadad;
}
.date span{
	display:block;
	font-size:1em;
    color: #9fadad;
}
.event-info{
	 width:72%;
	float:left;
	  padding-top: 9px;
}
.event-info h5 a{
	font-family: 'Ubuntu-Medium';
  font-size: 1.2em;
  color: #4dc47d;
  display: inline-block;
  margin: 0 0 10px 0;
  line-height:1.3em;
}

.accessman {
	font-family: 'Ubuntu-Medium';
	font-size:1em;
	color:#4dc47d;
	display:inline-block;
	margin:10px 0 0 0;
}
.event-pic-info{
	width:50%;
	float:left;
}
.event-info p {
  line-height: 1.5em;
  color: #999;
  font-size:0.95em;
}

label{
    color: white;
}

button.submitbtn{
    border:1px solid #0c0c0c;
    border-radius: 50px;
    background: #4dc47d;
    color: #f6f6f6;
}

.panel-body {
    background-color: #252523;
    color: white;
}

.panel-success > .panel-heading {
    color: #f6f6f6;
    background-color: #0f0f0d;
    border-color: #d6e9c6;
}

.lunboimage{
    height:320px;
    width:555px;
}
.lunboimage img{
    width: auto;
    max-width:100%;
    max-height: 100%;
}

