<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title th:text="#{register}">注册</title>
<script th:src="@{/static/layui/jquery-3.3.1.min.js}"></script>
<link th:href="@{/static/css/register.css}" rel="stylesheet">

</head>
<body>
	<div class="top_div"></div>
	<form action="/toregister"
		method="post" onsubmit="return checkForm()">
		<div style="background: rgb(255, 255, 255); margin: -280px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 380px; text-align: center;">
			<P style="padding: 30px 0px 10px; position: relative;">
				<span class="n_logo"></span>
				<input id="nickname" name="username" class="ipt" type="text"
					th:placeholder="#{register.nickname}" >
			</P>
			<P style="padding: 0px 0px 10px;position: relative;">
				<span class="u_logo"></span>
				<input id="email"  name="email" class="ipt" type="text"
					   th:placeholder="#{type_email}" >
			</P>
			<P style="padding: 0px 0px 10px;position: relative;">
				<span class="p_logo"></span> 
				<input id="password" name="password" class="ipt" type="password"
					th:placeholder="#{type_password}" >
			</P>
			<P style="padding: 0px 0px 10px;position: relative;">
				<span class="p_logo"></span>
				<input id="_password"  class="ipt" type="password"
					   th:placeholder="#{register.password_again}" >
			</P>
			<P style="padding: 0px 0px 10px;position: relative;">
				<span class="ph_logo"></span>
				<input id="phone"  name="tel" class="ipt" type="text"
					   th:placeholder="#{register.phone}" >
			</P>
			<P style="padding: 0px 0px 10px;position: relative;" align="left">
				<span class="vali_logo"></span>
				<input id="validate"  class="ipt_validate" type="text"
					   th:placeholder="#{register.validate}" />
				<canvas id="myCanvas"  width="70px" height="27px" onclick="createCode();"></canvas>
			</P>
			<P style="padding: 0px 0px 0px;position: relative;">
				<span class="p_label" th:text="#{register.type}">类型</span>
				<select  id="type" class="ipt" name="usertype" style="width: 335px;">
					<option value ="0" selected="selected" th:text="#{register.type1}">普通用户</option>
					<option value ="1" th:text="#{register.type2}">创作者</option>
				</select>
			</P>

			<div style="height: 50px; line-height: 50px; margin-top: 20px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid; position: relative;">
				<P style="margin: 0px 35px 20px 45px;">
					<a href="/"><span style="float: left;" th:text="#{system}" >unity实验系统</span></a>
					<span style="float: right;">
						<input  id="sumit" type="submit"
						style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;"
						th:value="#{register}" />
					</span>
				</P>
			</div>
			<p align="center" class="errorinfo"><span><font color="red" id="error" th:text="${errorInfo}"></font></span></p>
		</div>
	</form>
	<div style="text-align:center;padding-top: 60px" class="version">Copyright ©
		2018-2019 unity实验系统 版权所有 >_<</div>
</body>

<script>
	var code;

	function createCode() {
		code = "";
		debugger;
		var codeLength = 4;//验证码的长度，可变
		var canvas=document.getElementById('myCanvas');//获取画布
		var selectChar = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');//所有候选组成验证码的字符

		for (var i = 0; i < codeLength; i++) {
			var charIndex = Math.floor(Math.random() * 36);
			code += selectChar[charIndex];
		}
		if (canvas) {
			var ctx=canvas.getContext('2d');
			ctx.fillStyle='#FFFFFF';
			ctx.fillRect(0,0,70,27);
			ctx.font="20px arial";
			// 创建渐变
			var gradient=ctx.createLinearGradient(0,0,canvas.width,0);
			gradient.addColorStop("0","magenta");
			gradient.addColorStop("0.5","blue");
			gradient.addColorStop("1.0","red");
			// 用渐变填色
			ctx.strokeStyle=gradient;
			ctx.strokeText(code,5,20);//画布上添加验证码
		}
	}
	//各种校检操作
	function checkForm() {
		var username = $("#email").val();
		var password = $("#password").val();
		var password_again = $("#_password").val();
		var nickname = $("#nickname").val();
		var codenumber = $("#validate").val();
		if (username == null || username == "") {
			$("#error").html("[[#{register.isemail}]]");     //双括号为thymeleaf的国际化解析语法
			return false;
		}
		if (password == null || password == "") {
			$("#error").html("[[#{register.ispassword}]]");
			return false;
		}
		if (nickname == null || nickname == "") {
			$("#error").html("[[#{register.isnickname}]]");
			return false;
		}
		if (codenumber != code) {
			$("#error").html("[[#{register.isvalidate}]]");
			return false;
		}
		if (password!==password_again){
			$("#error").html("[[#{register.passworderror}]]");
			return false;
		}
		return true;
	}
	createCode();
</script>
</html>